<%= form_for Spree::WishedProduct.new, html: {id: "new_wished_product_#{product.id}", class: "new_wished_product", :"data-source" => "#new_cart_product_#{product.id}"} do |f| %>
    <%= f.hidden_field :variant_id, value: product.master.id %>
    <%= f.hidden_field :quantity, value: 1 %>
    <%= link_to "Back", request.referer.present? ? request.referer : root_path, class: "btn btn-default" unless button_only %>
    <button type="submit" class="btn btn-default <%= button %>">
      <%= Spree.t(:add_to_wishlist) unless button_only %>
      <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
    </button>
<% end %>

