<%= form_for Spree::WishedProduct.new do |f| %>
    <%= f.hidden_field :variant_id, value: product.master.id %>
    <%= f.hidden_field :ad_hoc_option_value_id %>
    <%= f.hidden_field :quantity %>
    <button type="submit" class="btn btn-default <%= button %>">
      <%= Spree.t(:add_to_wishlist) unless button_only %>
      <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
    </button>
<% end %>

