<h1 class="row"><%= Spree.t(:editing_wishlist) %></h1>
<%= form_for @wishlist do |f| %>
    <div class="form-group">
      <%= f.label :name, Spree.t(:name) %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.check_box :is_private %>
      <%= f.label :is_private, Spree.t(:is_private) %>
    </div>
    <div class="form-group">
      <%= f.check_box :is_default %>
      <%= f.label :is_default, Spree.t(:is_default) %>
    </div>
    <div class="form-actions" data-hook="buttons">
      <%= f.submit Spree.t(:update), class: 'btn btn-default' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= link_to Spree.t(:delete_wishlist), @wishlist, method: :delete, data: {confirm: Spree.t(:are_you_sure_wishlist)}, class: 'delete' %>
    </div>
<% end -%>
