<h1 class="col-md-9"><%= @wishlist.name %> (<%= "#{@wishlist.wished_products.size} #{Spree.t(:whishlist_item, count: 2)}" %>)</h1>

<table id="wishlist" class="table">
  <thead>
  <tr class="active">
    <th colspan="2"><%= Spree.t(:item) %></th>
    <th><%= Spree.t(:price) %></th>
    <th><%= Spree.t(:total) %></th>
    <% if @wishlist.user == spree_current_user %>
        <th></th>
    <% end -%>
  </tr>
  </thead>
  <tbody id="line_items">
  <% if @wishlist.wished_products.size > 0 %>
      <%= render partial: 'line_item', collection: @wishlist.wished_products, as: :wish %>
  <% else %>
      <tr>
        <td colspan="6"><%= Spree.t(:your_wishlist_is_empty) %></td>
      </tr>
  <% end -%>
  </tbody>
</table>

<div class="col-md-6 pull-left" data-hook="wishlist_footer_links">
  <% if @wishlist.user == spree_current_user %>
      <%= link_to Spree.t(:edit_wishlist), edit_wishlist_path(@wishlist), class: 'btn btn-default' %>
      <%= link_to Spree.t(:create_new_wishlist), new_wishlist_path, class: 'btn btn-default' %>
      <%= Spree.t(:or) %>
  <% end -%>
  <%= link_to Spree.t(:continue_shopping), products_path, class: 'continue' %>
</div>
